@page
@model CreateModel

<link rel="stylesheet" href="~/css/crear.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Crear Libro";
}

<h2>Crear Libro</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <label>Título:</label>
        <input asp-for="Libro.Titulo" />
    </div>
    <div>
        <label>Autor:</label>
        <input asp-for="Libro.Autor" />
    </div>
    <div>
        <label>Género:</label>
        <input asp-for="Libro.Genero" />
    </div>
    <div>
        <label>Sinopsis:</label>
        <textarea asp-for="Libro.Sinopsis"></textarea>
    </div>
    <div>
        <label>URL del libro</label>
        <input asp-for="Libro.UrlLibro" placeholder="https://..." />
    </div>
    <div>
        <label>Portada:</label>
        <input type="file" asp-for="ImagenFile" />
    </div>
    <button type="submit">Crear</button>
</form>
