/* =========================
   FONDO PRINCIPAL
   ========================= */
body {
    background-image: url('../Imagenes/LP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Spotlight central estilo Netflix */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at center,
        rgba(255,255,255,0.12) 0%,
        rgba(0,0,0,0.75) 75%
    );
    pointer-events: none;
    z-index: -1;
}

/* =========================
   TITULO NetflixDeLibros
   ========================= */
.titulo {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 15px black;
    margin-bottom: 10px;
    font-weight: bold;
}



/* =========================
   CAJA DE LOGIN
   ========================= */
.login-box {
    background: rgba(0, 0, 0, 0.92); /* negro casi puro */
    border: 2px solid red;
    padding: 30px;
    border-radius: 10px;
    width:  260px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.25);
}

/* Título dentro de la caja */
.login-box h2 {
    color: red;
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}



/* =========================
   LABELS + INPUTS
   ========================= */
.colorlabel {
    color: white;
    font-size: 15px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 15px;
}



/* =========================
   BOTÓN
   ========================= */
.login-box input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: #1c1c1c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.login-box input[type="submit"]:hover {
    background: #333;
}



/* =========================
   LINKS
   ========================= */
.login-box p {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.login-box a {
    color: #1e90ff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}
